*.h5
*.mat
*__pycache__*
*sbi-logs*
*.txt
*.log
*.logs

presentations/*
models/*
tables/*
figures/*
*.pdf

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.eps
*.ps
*.tiff
*.tif
*.bmp
*.mp4

*.npy
*.hdf5
*.csv

*.vscode
*.ipynb_checkpoints
*.DS_Store
*.pyc

*.idea*
*.0
*.pkl
*.out

*/ref/*

*.pt
*.o
*.so
*events.out*
*/simulator/*.html
*/simulator/*.c
*/simulator/*.so
codes/src/simulator/DM_compute.cpython-37m-darwin.so
codes/src/train/logs/*