*.h5
*.mat
*__pycache__*
*sbi-logs*
*.txt

presentations/*
models/*
tables/*
figures/*
*.pdf

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.eps
*.ps
*.tiff
*.tif
*.bmp

*.mat
*.npy
*.h5
*.hdf5
*.csv

*.vscode
*.ipynb_checkpoints
*.DS_Store
*.pyc
*__pycache__

